<?xml version="1.0" encoding="UTF-8"?>
<!-- logback.xml in common ${message} -->
<configuration>
    <include resource="logback-metric-dev.xml" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level %thread \(%logger{0}\) [%mdc{key-event-id:--}:%mdc{userNo:--}] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="im.toss.server" level="INFO"/>

    <logger name="org.springframework" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>